* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  max-width: fit-content;
  flex-wrap: wrap;
}

.gallery img {
  display: block;
  border: 3px solid #bcd4e5 !important;
  border-radius: 16px;
  width: 500px;
  height: 300px;
  cursor: pointer;
  transition:cubic-bezier(1, 0, 0, 1), 200ms;
}



.gallery img:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}